In [1]:
## Census Demographics for counties in Baltimore-Columbia-Towson Metropolitan Statistical Area
# counties included in MSA: Anne Arundel (003 FIPs code), Baltimore City (510), Baltimore County (005), Carroll County (013), Harford County (025), Howard County (027), Queen Anne's County(035)

In [2]:
# data source: 2021 Census Data (ACS-1 year) for Selected Variables - Baltimore County (county FIPS code = 005)

In [3]:
# From https://www.census.gov/programs-surveys/acs/guidance/comparing-acs-data.html:
# "Due to the impact of the COVID-19 pandemic, the Census Bureau changed the 2020 ACS release. 
# Instead of providing the standard 1-year data products, the Census Bureau released experimental estimates from the 1-year data. 
# Data users should not compare 2020 ACS 1-year experimental estimates with any other data.""

In [4]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import censusdata

In [5]:
import os

In [6]:
os.getcwd()

'C:\\Users\\Jenkir\\Desktop\\ECO-iMPACT\\Medium-blog-post1\\census-demographics-city-level'

In [7]:
# need to change the working directory; be sure that the config file for the census API is also in this folder
#os.chdir('C:\\Users\\Jenkir\\Desktop\\ECO-iMPACT\\Medium-blog-post1')

In [8]:
#os.getcwd()

In [9]:
pd.set_option('display.max_rows', 200)

In [10]:
pd.set_option('max_colwidth', 100)

In [11]:
# Census American Community Survey 1-Year Data 

data = censusdata.download('acs1', 2021,
                          censusdata.censusgeo([('state', '24'),
                                         ('county', '005')]),
                                        ["B11005_002E","B19001_001E","B01003_001E", "B01002_001E",
                                         "B02001_002E", "B02001_003E","B03001_003E",'B19013_001E','B17001_002E',
                                         "B23025_004E","B23025_005E","B15003_017E",
                                         "B15003_022E","B25003_002E","B02001_005E","B02001_008E","B25003_003E",
                                         "B19013A_001E","B19013B_001E","B19013D_001E","B19013G_001E","B19013G_001E"
                                        ])
                          
ACS1yr_2021 = pd.DataFrame(data)
ACS1yr_2021

,B11005_002E,B19001_001E,B01003_001E,B01002_001E,B02001_002E,B02001_003E,B03001_003E,B19013_001E,B17001_002E,B23025_004E,...,B15003_017E,B15003_022E,B25003_002E,B02001_005E,B02001_008E,B25003_003E,B19013A_001E,B19013B_001E,B19013D_001E,B19013G_001E
"Baltimore County, Maryland: Summary level: 050, state:24> county:005",95348,332529,849316,39.9,460054,253139,52983,80453,81052,423239,...,125687,125784,221944,52918,55735,110585,89149,68813,96907,68192

In [12]:
# Replace the census variable codes (such as "B19013_001E") in the dataframe with the name of the detailed table variables so it's understandable
# I have the table id numbers listed in order so that it is easy to see what tables I have included at this point - can rearrange the column order later
ACS1yr_2021 = ACS1yr_2021.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median age",
                                      "B02001_003E": "Pop. Black",
                                      "B02001_002E": "Pop. white",
                                      "B02001_005E": "Pop. Asian",        
                                      "B02001_008E": "Pop. 2 or more races",    
                                      "B03001_003E": "Pop. Hispanic origin",
                                      "B11005_002E": "Households with one or more people under 18 years",    
                                      "B15003_017E": "# persons age 25+ graduated high school",
                                      "B15003_022E": "# persons age 25+ with Bachelor's degree",    
                                      "B17001_002E": "Poverty count",
                                      "B19001_001E": "Total households",    
                                      "B19013_001E": "Median household income",
                                      "B19013A_001E": "Median HH income White Alone Householder",
                                      "B19013B_001E": "Median HH income Black or African American Alone Householder", 
                                      "B19013D_001E":  "Median HH income Asian Alone Householder",
                                      "B19013G_001E":  "Median HH income two or more races Householder",
                                      "B19013G_001E":  "Median HH income Hispanic or Latino Householder",  
                                      "B23025_002E": "In labor force",
                                      "B23025_004E": "# employed, age 16+",
                                      "B23025_005E": "Unemployment count",
                                      "B25003_002E": "Total owner-occupied units",
                                      "B25003_003E": "Total renter-occupied units"
                                      })
ACS1yr_2021.head()

,Households with one or more people under 18 years,Total households,Population,Median age,Pop. white,Pop. Black,Pop. Hispanic origin,Median household income,Poverty count,"# employed, age 16+",...,# persons age 25+ graduated high school,# persons age 25+ with Bachelor's degree,Total owner-occupied units,Pop. Asian,Pop. 2 or more races,Total renter-occupied units,Median HH income White Alone Householder,Median HH income Black or African American Alone Householder,Median HH income Asian Alone Householder,Median HH income Hispanic or Latino Householder
"Baltimore County, Maryland: Summary level: 050, state:24> county:005",95348,332529,849316,39.9,460054,253139,52983,80453,81052,423239,...,125687,125784,221944,52918,55735,110585,89149,68813,96907,68192

In [13]:
#ACS1yr_2021 = census_2021.copy()
#ACS1yr_2021

In [14]:
ACS1yr_2021.index = ['2021']
ACS1yr_2021

,Households with one or more people under 18 years,Total households,Population,Median age,Pop. white,Pop. Black,Pop. Hispanic origin,Median household income,Poverty count,"# employed, age 16+",...,# persons age 25+ graduated high school,# persons age 25+ with Bachelor's degree,Total owner-occupied units,Pop. Asian,Pop. 2 or more races,Total renter-occupied units,Median HH income White Alone Householder,Median HH income Black or African American Alone Householder,Median HH income Asian Alone Householder,Median HH income Hispanic or Latino Householder
2021,95348,332529,849316,39.9,460054,253139,52983,80453,81052,423239,...,125687,125784,221944,52918,55735,110585,89149,68813,96907,68192

In [15]:
ACS1yr_2021 = ACS1yr_2021.reset_index()
ACS1yr_2021

,index,Households with one or more people under 18 years,Total households,Population,Median age,Pop. white,Pop. Black,Pop. Hispanic origin,Median household income,Poverty count,...,# persons age 25+ graduated high school,# persons age 25+ with Bachelor's degree,Total owner-occupied units,Pop. Asian,Pop. 2 or more races,Total renter-occupied units,Median HH income White Alone Householder,Median HH income Black or African American Alone Householder,Median HH income Asian Alone Householder,Median HH income Hispanic or Latino Householder
0,2021,95348,332529,849316,39.9,460054,253139,52983,80453,81052,...,125687,125784,221944,52918,55735,110585,89149,68813,96907,68192

In [16]:
ACS1yr_2021 = ACS1yr_2021.rename(columns={"index": "Year"})                                           
ACS1yr_2021

,Year,Households with one or more people under 18 years,Total households,Population,Median age,Pop. white,Pop. Black,Pop. Hispanic origin,Median household income,Poverty count,...,# persons age 25+ graduated high school,# persons age 25+ with Bachelor's degree,Total owner-occupied units,Pop. Asian,Pop. 2 or more races,Total renter-occupied units,Median HH income White Alone Householder,Median HH income Black or African American Alone Householder,Median HH income Asian Alone Householder,Median HH income Hispanic or Latino Householder
0,2021,95348,332529,849316,39.9,460054,253139,52983,80453,81052,...,125687,125784,221944,52918,55735,110585,89149,68813,96907,68192

In [17]:
# Pull age values from the ACS 1 yr. census codes/ variables listed and save them in the variable "age_data"
age_data = censusdata.download('acs1', 2021,
                          censusdata.censusgeo([('state', '24'),
                                         ('county', '005')]),
                                         ["B01001_003E",                                    
                                          "B01001_004E",
                                          "B01001_005E",
                                          "B01001_006E",
                                          "B01001_007E",
                                          "B01001_008E",
                                          "B01001_009E",
                                          "B01001_010E",
                                          "B01001_011E",
                                          "B01001_012E",
                                          "B01001_013E",
                                          "B01001_014E",
                                          "B01001_015E",
                                          "B01001_016E",            
                                          "B01001_017E",
                                          "B01001_018E",
                                          "B01001_019E",
                                          "B01001_020E",
                                          "B01001_021E",
                                          "B01001_022E",
                                          "B01001_023E",
                                          "B01001_024E",
                                          "B01001_025E",
                                          "B01001_027E",
                                          "B01001_028E",
                                          "B01001_029E",
                                          "B01001_030E",
                                          "B01001_031E",
                                          "B01001_032E",
                                          "B01001_033E",
                                          "B01001_034E",
                                          "B01001_035E",
                                          "B01001_036E",
                                          "B01001_037E",
                                          "B01001_038E",
                                          "B01001_039E",            
                                          "B01001_040E",
                                          "B01001_041E",
                                          "B01001_042E",
                                          "B01001_043E",
                                          "B01001_044E",
                                          "B01001_045E",
                                          "B01001_046E",
                                          "B01001_047E",
                                          "B01001_048E",
                                          "B01001_049E"])
age_2021 = pd.DataFrame(age_data)
age_2021.head()

,B01001_003E,B01001_004E,B01001_005E,B01001_006E,B01001_007E,B01001_008E,B01001_009E,B01001_010E,B01001_011E,B01001_012E,...,B01001_040E,B01001_041E,B01001_042E,B01001_043E,B01001_044E,B01001_045E,B01001_046E,B01001_047E,B01001_048E,B01001_049E
"Baltimore County, Maryland: Summary level: 050, state:24> county:005",24622,26496,26642,16530,11041,4984,5185,15328,25491,26894,...,28143,28036,13687,18609,9318,16411,22983,16067,10799,11461

In [18]:
# Sum columns of age groups that are under 18 years old for male and female and add new column "Pop. <18 years"
columns_under18 = ["B01001_003E",                                    
                   "B01001_004E",
                   "B01001_005E",
                   "B01001_006E",
                   "B01001_027E",
                   "B01001_028E",
                   "B01001_029E",
                   "B01001_030E"]
age_2021['Pop. <18 years']= age_2021[columns_under18].sum(axis=1)
age_2021.head()

,B01001_003E,B01001_004E,B01001_005E,B01001_006E,B01001_007E,B01001_008E,B01001_009E,B01001_010E,B01001_011E,B01001_012E,...,B01001_041E,B01001_042E,B01001_043E,B01001_044E,B01001_045E,B01001_046E,B01001_047E,B01001_048E,B01001_049E,Pop. <18 years
"Baltimore County, Maryland: Summary level: 050, state:24> county:005",24622,26496,26642,16530,11041,4984,5185,15328,25491,26894,...,28036,13687,18609,9318,16411,22983,16067,10799,11461,185532

In [19]:
# Sum columns of age groups that are 18-64 years old (working age) for male and female and add new column "Pop. working age"
columns_working_age_2021 = [                                    
                   "B01001_007E",
                   "B01001_008E",
                   "B01001_009E",
                   "B01001_010E",
                   "B01001_011E",
                   "B01001_012E",   
                   "B01001_013E",
                   "B01001_014E",    
                   "B01001_015E",    
                   "B01001_016E",   
                   "B01001_017E", 
                   "B01001_018E",    
                   "B01001_019E",    
                   "B01001_031E",
                   "B01001_032E",
                   "B01001_033E",
                   "B01001_034E",
                   "B01001_035E",   
                   "B01001_036E",
                   "B01001_037E",    
                   "B01001_038E",    
                   "B01001_039E",   
                   "B01001_040E", 
                   "B01001_041E",    
                   "B01001_042E",    
                   "B01001_043E"]    
                           
age_2021['Pop. working age']= age_2021[columns_working_age_2021].sum(axis=1)
age_2021.head()

,B01001_003E,B01001_004E,B01001_005E,B01001_006E,B01001_007E,B01001_008E,B01001_009E,B01001_010E,B01001_011E,B01001_012E,...,B01001_042E,B01001_043E,B01001_044E,B01001_045E,B01001_046E,B01001_047E,B01001_048E,B01001_049E,Pop. <18 years,Pop. working age
"Baltimore County, Maryland: Summary level: 050, state:24> county:005",24622,26496,26642,16530,11041,4984,5185,15328,25491,26894,...,13687,18609,9318,16411,22983,16067,10799,11461,185532,511892

In [20]:
# Sum columns of age groups that are 65+ years old for male and female and add new column "Pop. 65+ years"
columns_senior_2021 = ["B01001_020E",
                  "B01001_021E",
                  "B01001_022E",
                  "B01001_023E",                                    
                  "B01001_024E",
                  "B01001_025E",
                  "B01001_044E",
                  "B01001_045E",
                  "B01001_046E",
                  "B01001_047E",                                    
                  "B01001_048E",
                  "B01001_049E"]               
                          
age_2021['Pop. 65+ years']= age_2021[columns_senior_2021].sum(axis=1)
age_2021.head()

,B01001_003E,B01001_004E,B01001_005E,B01001_006E,B01001_007E,B01001_008E,B01001_009E,B01001_010E,B01001_011E,B01001_012E,...,B01001_043E,B01001_044E,B01001_045E,B01001_046E,B01001_047E,B01001_048E,B01001_049E,Pop. <18 years,Pop. working age,Pop. 65+ years
"Baltimore County, Maryland: Summary level: 050, state:24> county:005",24622,26496,26642,16530,11041,4984,5185,15328,25491,26894,...,18609,9318,16411,22983,16067,10799,11461,185532,511892,151892

In [21]:
age_final_2021 = age_2021[["Pop. <18 years", "Pop. working age", "Pop. 65+ years"]]
age_final_2021.head()

,Pop. <18 years,Pop. working age,Pop. 65+ years
"Baltimore County, Maryland: Summary level: 050, state:24> county:005",185532,511892,151892

In [22]:
age_final = age_final_2021.copy()
age_final

,Pop. <18 years,Pop. working age,Pop. 65+ years
"Baltimore County, Maryland: Summary level: 050, state:24> county:005",185532,511892,151892

In [23]:
age_final.index = ['2021']
age_final

      Pop. <18 years  Pop. working age  Pop. 65+ years
2021          185532            511892          151892

In [24]:
age_final = age_final.reset_index()
age_final

  index  Pop. <18 years  Pop. working age  Pop. 65+ years
0  2021          185532            511892          151892

In [25]:
age_final = age_final.rename(columns={"index": "Year"})                                           
age_final

   Year  Pop. <18 years  Pop. working age  Pop. 65+ years
0  2021          185532            511892          151892

In [26]:
age_final.dtypes

Year                object
Pop. <18 years       int64
Pop. working age     int64
Pop. 65+ years       int64
dtype: object

In [27]:
# combine the ACS1yr_2021 dataframe with the age_finaldataframe 
demographics_2021 = pd.merge(
    ACS1yr_2021, age_final, on="Year", how="outer")
demographics_2021

,Year,Households with one or more people under 18 years,Total households,Population,Median age,Pop. white,Pop. Black,Pop. Hispanic origin,Median household income,Poverty count,...,Pop. Asian,Pop. 2 or more races,Total renter-occupied units,Median HH income White Alone Householder,Median HH income Black or African American Alone Householder,Median HH income Asian Alone Householder,Median HH income Hispanic or Latino Householder,Pop. <18 years,Pop. working age,Pop. 65+ years
0,2021,95348,332529,849316,39.9,460054,253139,52983,80453,81052,...,52918,55735,110585,89149,68813,96907,68192,185532,511892,151892

In [28]:
demographics_2021["Percent working age pop."] = 100 * \
    demographics_2021["Pop. working age"].astype(
        int) / demographics_2021["Population"].astype(
        int) 

demographics_2021["Percent working age pop."] = demographics_2021["Percent working age pop."].astype(int)

In [29]:
demographics_2021["Percent households with children"] = 100 * \
    demographics_2021["Households with one or more people under 18 years"].astype(
        int) / demographics_2021["Total households"].astype(
        int) 

demographics_2021["Percent households with children"] = demographics_2021["Percent households with children"].astype(int)
demographics_2021

,Year,Households with one or more people under 18 years,Total households,Population,Median age,Pop. white,Pop. Black,Pop. Hispanic origin,Median household income,Poverty count,...,Total renter-occupied units,Median HH income White Alone Householder,Median HH income Black or African American Alone Householder,Median HH income Asian Alone Householder,Median HH income Hispanic or Latino Householder,Pop. <18 years,Pop. working age,Pop. 65+ years,Percent working age pop.,Percent households with children
0,2021,95348,332529,849316,39.9,460054,253139,52983,80453,81052,...,110585,89149,68813,96907,68192,185532,511892,151892,60,28

In [30]:
# Export file as a CSV, without the Pandas index, but with the header
#demographics_2021.to_csv("ACS_BaltCounty_2021.csv", index = False, header=True)

In [31]:
# Plotly dashboard example   https://towardsdatascience.com/creating-an-interactive-dashboard-with-dash-plotly-using-crime-data-a217da841df3